*{
  margin: 0%;
  padding: 0%;
}
body {
    color:rgb(241, 17, 140);
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
    display: flex; /*com o display flex ele poe os textos alinhados de direita*/
    gap: 50px; /* a distancia das palavras para a imagem*/
    /*align-items: flex-end; (iria por os textos no chão da imagem*/
    
    min-height: auto;
  }
  .caixa-de-texto{
    text-align: center;
    padding: auto;
  }
    .img{
      margin:0;
      padding:0;
      height: 100%;
    }
    
    .caixa-de-texto {
      
    }
    .title {
      padding: 2%;
      text-align: center;
    }
    .blue {
      color: rgb(43, 182, 182);
      font-family: Georgia, 'Times New Roman', Times, serif;
      height: 40px;
      padding: 12px;
    }
    .lista {
      padding: 30px;
    }
    .color {
      color: rgb(43, 182, 182);
    }